@media only screen and (max-width: 600px) {
    .wrapper {
        width: 90%;
    }
    #social {
        position: absolute;
        width: auto;
        margin-top: 82px;
        margin-right: 4px;
    }
    }
@media only screen and (min-width: 900px) {
    body {
      font-size: 85%;
    }
    #logo h1 {
      height: 35px;
      width: 35px;
    }
    #logo h2 {
      font-size: 2.2em;
    }
    #social {
      margin-top: 72px;
    }
    col-3 p, col-2 p, col-1 p {
      column-count: 2;
    }
    
    .wrapper {
        width: 90%;
    }
    #social {
        position: absolute;
        width: auto;
        margin-top: 82px;
        margin-right: 4px;
    }
    } 
 @media only screen and (min-width: 750px) {
   #navbar nav a {
     font-size: 0.9em;
   }
   .col-3 p {
     column-count: 1;
   }
   .col-1, .col-2, .col-3 {
     width: 100%;
     margin-left: 0;
     float: none;
   }
   .border-right {
     border: 0;
   }
   #details div {
     height: auto;
   }
   }
   